.features__title {
    display: none;
}

.features__list {
    @media screen and (min-width:$tablet) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width:$desctop) {
        margin: 0px -15px;
    }
}

.features__item {
    width: 100%;
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:$tablet) {
        width: 354px;
        margin: 15px;
    }

    @media screen and (min-width:$desctop) {
        width: 270px;
        margin: 0px 15px;
    }
}


.features__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $background-team;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__element {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    @media screen and (max-width:767px) {
            text-align: center
    }
}

.features__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $text-color;
}