.section__hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #2F303A;
    text-align: center;
    padding: 100px 0;

    background-image: $linear-gradient, url(../images/hero/hero-m480.jpg);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url(../images/hero/hero-m960.jpg);
            }
    }
    @media screen and (min-width: 480px) {
        background-image: $linear-gradient, url(../images/hero/hero-t768.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .box {
                    background-image: url(../images/hero/hero-t1536.jpg);
                }
            }
    }
    @media screen and (min-width: 769px) {
        background-image: $linear-gradient, url(../images/hero/hero-d1600.jpg);
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url(../images/hero/hero-d3200.jpg);
            }
        }
    }
    @media screen and (min-width: $desctop) {
        padding: 200px 0;
    }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 420px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-h1;

    @media screen and (min-width: $tablet) {
        max-width: 360px;
    }

    @media screen and (min-width: $desctop) {
        font-size: 44px;
        max-width: 696px;
        line-height: 1.36;
    }
}