.make {
    padding-top: 0;
    display: none;
}

// .make__list {
//     display: flex;
// }

.make__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.make__inscription {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}