.modal__backdrop {
    z-index: 15;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: 450px;
    max-width: 100%;
    background-color: $background-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 40px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14);

    @media screen and (min-width: $desctop) {
        width: 528px;
    }
}

.is-hidden {
    transform: scale(0.1);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 9px;
    background-color: $background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent;
    }
}

.close__svg {
    display: block;
}

.modal__text {
    display: block;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.modal__label {
    display: block;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.moodal__inscription-label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $text-color;
}

.modal__field {
    display: block;
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-visible {
        border-color: $accent;
        outline: 0;
    }

    &:focus-visible~.svg {
        color: $accent;
    }
}

.modal__svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
}

.modal__textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    resize: none;
    margin-bottom: 20px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus-visible {
        border-color: $accent;
        outline: 0;
    }
}

.modal__cbox {
    position: relative;
    @media screen and (min-width: $desctop) {
        padding-left: 12px;
    }
}

.cbox__text {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $text-color;
    @media screen and (min-width: $desctop) {
        font-size: 14px;
    }
}

.cbox__contract-terms {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $accent;
    @media screen and (min-width: $desctop) {
        font-size: 14px;
    }
}

.modal__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.castom-checkbox {
    display: inline-block;
    position: relative;
    transform: translateY(15%);
    height: 15px;
    width: 16px;
    border: 2px solid $title-color;
    border-radius: 2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal__checkbox:checked + & {
        background-color: $accent;
        border-color: $accent;
    }

    @media screen and (min-width: $desctop) {
        margin-right: 8px;
    }
}


.modal__send {
    position: relative;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}