.button { 
    min-width: 200px;
    min-height: 50px;
    border: 0;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    font-family: 'Roboto',
        sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $button-text;
    background-color: $accent;
    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.title {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
    // font-size: 36px;
    // line-height: 1.16;
}