    $title-color: #212121;
    $text-color: #757575;
    $accent: #2196F3;
    $color-logo: #000000;
    $color-logo-footer: #ffffff;
    $color-heder-kontakts: rgba(117, 117, 117, 1);
    $focus-color-link: rgba(33, 150, 243, 1);
    $color-h1: #FFFFFF;
    $background-color: #ffffff;
    $background-team: #F5F4FA;
    $button-text: #FFFFFF;
    $tablet: 768px;
    $desctop: 1200px;
    $linear-gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));